# LDAP connection parameters <<<

# which LDAP server to use as default
ldap_default_servers = 127.0.0.1::389

LDAP_BASEDN = o=mybasedn
LDAP_USERS_ROOT_DN = ou=users,LDAP_BASEDN
LDAP_DOMAINS_ROOT_DN = ou=domains,LDAP_BASEDN
LDAP_BIND_USER = uid=exim4,LDAP_USERS_ROOT_DN
LDAP_BIND_PASS = exim4pass

# >>>

# vim:foldmethod=marker:foldmarker=<<<,>>>:nofoldenable
