PRIMARY_HOSTNAME = mail.mydomain.com

hostlist cmx_hosts = 
hostlist mx_hosts = 

# Specify the location of the Exim server's TLS certificate and private key.
# The private key must not be encrypted (password protected). You can put
# the certificate and private key in the same file, in which case you only
# need the first setting, or in separate files, in which case you need both
# options.

tls_certificate = /etc/exim4/cert.pem
tls_privatekey = /etc/exim4/key.pem

