body {
  color: black; 
  background-color: white;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; 
  padding: 1em 0;
  text-align: center;  /* center align in Internet Explorer */
}

div#Page {
  text-align: left;
  margin: 0 auto;
  width: 50em;
  padding: 0;
  border: 1px solid black;
}

/* Navigation elements */

div#Navigation {
  float: left;
  margin: 4em 0 0 0;
  padding: 0;
}

div#Navigation ul {
  width: 7em;
  margin: 0;
  padding: 0;
}

div#Navigation li {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0.5em;
}

div#Navigation a {
  text-decoration: none;
  display: block;
  padding: 0.2em;
  font-weight: bold;
}

div#Navigation a:link {
  color: #666; 
  background-color: white;
}

div#Navigation a:visited {
  color: #666; 
  background-color: white;
}

div#Navigation a:hover {
  color: black; 
  background-color: #eee;
}

div#Navigation a:active {
  color: white; 
  background-color: gray;
}

/* Content elements */

div#Content {
  margin: 1em 1em 1em 7.5em;
  padding: 0;
}

div#Content p {
  margin: 1em 0;
}

div#Content a {
  text-decoration: none;
  color: #8899BB;
}

div#Content a:hover {
  color: black;
}

div#Content a:active {
  color: black;
}

div#Content table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  width: 100%;
}

div#Content th {
  padding: 0 10px 0 10px;
  border-bottom: 1px black solid;
}

div#Content td {
  padding: 1px 10px 1px 10px;
  vertical-align: top;
}

div#Content td.command {
  width: 20%;
  background: #EEE
}

/* Footer elements */

div#Footer {
  clear: both;
  font-size: 12px;
  margin: 0;
  padding: 0.1em;
  padding-right: 1em;
  text-align: right;
  background-color: #99CCFF;
  border-top: 1px solid silver;
}

div#Footer a {
 text-decoration: none;
 color: blue;
}

/* all other elements */

h1 {
  font-size: 18px;
  margin: 0; 
  padding: 0.3em;
  text-align: center;
  border-bottom: 1px solid silver;
  background: #99CCFF;
}

h2 {
  font-size: 16px;
  margin: 0;
  padding: 0 0 1em 0;
}

hr {
  width: 400px;
  border: solid #99CCFF 1px;
  text-align: left;
}

img {
  border: 0;
}

img#loginlogo {
  border: 0;
  margin-right: 2em;
}

#italic {
  font-style:italic;
}

fieldset {
  border: 1px #99CCFF solid;
}

legend {
  font-weight: bold;
  border: 0;
  border-left: 2px #99CCFF solid;
  border-right: 2px #99CCFF solid;
  padding-left: 5px;
  padding-right: 5px;
}

.space25 {
  height: 25px;
}
