<?php
/**
 * @author Daniel Weuthen <daniel@weuthen-net.de>
 * @version $LastChangedRevision$
 * @package ELMA
 *
 * $Id$
 * $LastChangedBy$
 *
 * =====================================================================
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301, USA
 *
 * =====================================================================
 */

/**
 * This is the global configuration file for ELMA
 */

/* ######## LDAP Settings ######## */

// LDAP Server hostname
define ("LDAP_HOSTNAME","ldap://127.0.0.1");

// use TLS for LDAP connection
define ("LDAP_USE_TLS","0");

// LDAP Servers Base DN 
define ("LDAP_BASEDN","o=mybasedn");

// LDAP Servers Base DN for domains
define ("LDAP_DOMAINS_ROOT_DN","ou=domains,".LDAP_BASEDN);

// LDAP Servers Base DN for system user (e.g. admin)
define ("LDAP_USERS_ROOT_DN","ou=users,".LDAP_BASEDN);

// DN for LDAP admin user with access to the complete tree
define ("LDAP_ADMIN_DN","uid=admin,".LDAP_USERS_ROOT_DN);

// CN for the LDAP admingroup
define ("LDAP_ADMIN_GROUP", "cn=admingroup");

/* ######## Language Settings #### */

// Set the default language
define ("DEFAULT_LANGUAGE","en_US");

// Set all languages which should be available at login
define ("AVAILABLE_LANGUAGES",serialize(array(
  "deutsch" => "de_DE",
  "english" => "en_US"
)));

/* ######## Template Settings #### */

// Define template to use
define ("TEMPLATE","simple");

/* ######## Application Settings #### */

// Define the applications root directory, getcwd() should work in most cases
define('APPROOT',getcwd());

// Define the session variable encryption key
define('MYCRYPT_KEY',"my mcrypt encryption key");

// Should ELMA save the cleartext password in the LDAP database (needed for cram-md5 authentification)
// a value with anything else than an empty string will enable cleatext password saving!!
define('SAVECLEARPASS',"TRUE");

/* ######## Spamfilter Settings #### */

define ("SPAMFILTER_AVAILABLE_ACTIONS",serialize(array("none" => "none",
                                                       "discard" => "discard;",
                                                       "redirect" => "redirect %REDIRECT%",
                                                       "folder" => "fileinfo \"Spam\"")));

/* ######## Mailserver Settings #### */

// Array of available mailstore servers. Each item should be a FQHN.
define("MAILSTORAGESERVERS",serialize(array("mailstore01.megabit.net","mailstore02.megabit.net")));

// The default root directory for homeDirectory attribute of each mailuser.
define("DEFAULT_HOMEDIR_ROOT","/var/mailhome");
?>
